.col-2.col-sidebar {
  width: 20vw;
  background-color: black;
  color: white;
  position: fixed;
  height: 100%;
  text-align: center;
}

#sidebar {
  margin-top: 56px;
}

.col.col-content {
  margin-left: 20vw;
  height: 80vw;
}

#content-container {
  background-color: rgba(255, 255, 255, 0.6);
  width: 95%;
  border-radius: 22px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row {
  height: 100%;
}

#podcasts_drop {
  background: transparent;
  border: none;
  color: #cc0c46;
}

#sidebar {
  height: 100vh;
  background: black;
  width: 20vw;
  position: fixed;
  padding-top: 30px;
  text-align: center;
  color: white;
  margin-top: -19px;
  max-width: 180px;
  min-width: 70px;
}

#content {
  height: 100vh;
  width: 80vw;
  margin-left: 20vw;
  margin-top: 75px;
  /*margin-left: auto;*/
}

#rock_name {
  background-image: url(../../assets/img/rock.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.genre_name {
  text-align: center;
  color: black;
  /*border-radius: 20px;*/
}

#podcast-dropdown {
  text-size-adjust: 100%;
  /*width: 1vw;*/
  max-width: 100%;
}

