.number-songs {
  text-align: left;
}

.lista {
  margin-left: 50px;
}

.dropdown.desp {
  margin-top: 0px;
}

.fa.fa-ellipsis-v.dropdown.show {
  color: black;
}


#content-container {
  margin-top: 100px;
}

.desplegable {
  text-align: left;
}


.tiempo {
  text-align: left;
}

.name-song {
  font-weight: 400;
}

.name-song-list {
  color: black;
}

.col.columna-esp {
  /*max-width: 100px;*/
}

.col.columna-album1 {
  /*max-width: 300px;*/
}

.day-release {
  color: black;
  text-align: left;
}

.number-songs {
  color: black;
  text-align: left;
}

.album-name {
  color: black;
  text-align: left;
  position:relative;
}

.bio-album {
  text-align: left;
  clear: both;
  color: black;
}

.individual-img-album {
  text-align: left;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.degradado-album {
  background-color: white;
}

.individual-album {
  height: 75px;
  width: 75px;
  display: inline;
  margin: 5px;
}

.individual-album {
  margin-top: 30px;
}

.lista {
  list-style-type: none;
}

#jumbo_title{
  height:10px;
}

.individual-img-album{
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
}

.list--album--songs li{
  border-bottom-style: solid;
  border-width: 2px;
  border-color: black;
}

.img__img{
  height: 200px;
  width: 200px;
}

.img__wrap {
  cursor:pointer;
  position: relative;
}

.img__description {
  position: absolute;
  color: black;
  background-color: rgba(0,0,0, 0);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  width: 45px;
  font-size: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}


.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.img__wrap:hover .img__img {
  opacity: 0.3;
}
.dropdown-menu{
  background-color: white;
  color:black;
}
.dropdown-item{
 color:black !important;
}

.dropdown-divider{
  color:black !important;
}

.name-song-list{
  cursor:pointer;
}

.name-song-list:hover{
  cursor:pointer;
  color: yellow;
}
