.number-songs {
  text-align: left;
}

.lista {
  margin-left: 50px;
}

.dropdown.desp {
  margin-top: 0px;
}

.fa.fa-ellipsis-v.dropdown.show {
  color: black;
}

.btn.btn-primary.dropdown-toggle.points {
  background-color: white;
  border-color: white;
  border-style: hidden;
}

#content-container {
  margin-top: 100px;
}

.desplegable {
  text-align: left;
}


.tiempo {
  text-align: left;
}

.name-song {
  font-weight: 400;
}

.name-song-list {
  color: black;
}

.col.columna-esp {
  /*max-width: 100px;*/
}

.col.columna-album1 {
  /*max-width: 300px;*/
}

.day-release {
  color: black;
  text-align: left;
}

.number-songs {
  color: black;
  text-align: left;
}

.album-name {
  color: black;
  text-align: left;
  position:relative;
}

.bio-album {
  text-align: left;
  clear: both;
  color: black;
}

.individual-img-album {
  text-align: left;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.degradado-album {
  background-color: white;
}

.individual-album {
  height: 75px;
  width: 75px;
  display: inline;
  margin: 5px;
}

.individual-album {
  margin-top: 30px;
}

.lista {
  list-style-type: none;
}
