.album-artist {
  text-align: center;
  color: white;
  font-size: 12px;
  font-style: italic;
}

.album-name {
  text-align: center;
  color: white;
}

.album-pic {
  width: 150px;
  height: 150px;
  border-radius: 25PX;
  margin: 10px;
}

.album-item {
  color: white;
  border-radius: 25px;
  margin: 8px;
  max-width: 400px;
}

.album-div {
  background-color: black;
  /*overflow: auto;*/
  margin: 10px;
  border-radius: 25px;
  padding: 10px;
  display: inline-block;
}
