.artist-item {
  margin: 4px;
}

.card.text-center {
  background-color: black;
  color: white;
}

#artist-pic {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 3px;
  clear: both;
}

.artist-card {
  width: 215px;
  height: auto;
  max-width: 229px;
}

.card.text-center.p-2.artist-card:hover {
  /*background-color: #837d13;*/
  color: #FFF200;
}
