.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(183,154,1,0.5);
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(255,255,255,0.75);
  border-radius: .3rem;
  align-content: center;
  height: 87%;
}

.login-dark {
  height: 400px;
  /*background: #475d62 url(../../assets/img/star-sky.jpg);*/
  background-size: cover;
  position: relative;
  padding-bottom: 35%;
}

#logo {
  height: 210px;
  width: 210px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #987f00;
  border-color: #848700;
  box-shadow: 0 0 0 .2rem rgba(152,129,8,0.5);
}

#boton_download {
  height: 80px;
  width: 50%;
  font-size: x-large;
}

.col-md-12 {
  padding-top: 20px;
  height: inherit;
}

#logo_login {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

#Login_text {
  color: black;
}
