#spoti_logo_podcast {
  position: absolute;
  transform: translate(-10%, -46%);
  height: 80%;
  width: 26%;
  max-height:120px;
  max-width: 350px;
}

#spoti_logo{
  position: absolute;
  transform: translate(-30%, -46%);
  height: 200%;
  width: 35%;
  max-height:100px;
  max-width: 550px;
}
