#podcast_header {
  text-align: center;
  border-color: white;
}

#podcast {
  max-width: 360px;
  background-color: black;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-footer.podcast_footer {
  border-top-color: white;
}

#podcast_img {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: -40px;
  border: 5px;
  border-color: white;
  border-style: solid;
  border-radius: 3px;
  text-align: center;
}

