#singlePodcast_Img {
  max-width: 250px;
  border-radius: 5px;
  border-color: white;
  border: 5px;
  border-style: solid;
  float: left;
  margin: 10px;
}

#podcast_container {
  display:block;
  position:relative;
  width:80%;
  background-color: black;
  color: white;
  border-radius: 10px;
  top: 20px;
}

#single-podcast-info {
  padding: 10px;
}

