#all {
  text-align: center;
  font-family: 'Roboto';
  padding-top: 225px;
}

.jumbotron.white{
  background-color: white;
  color:black;
  box-shadow: 0 0 0 .2rem rgba(0,0,0,1);
  width: 100%;
}

body {
  /*background: url(../../assets/img/piano.jpg) no-repeat fixed center;*/
  background-size: cover;
  font-family: 'Roboto';
}


/*Botones normales*/
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #FFD300 !important;
}
.btn-primary:hover{
  color: white !important;
}
.btn-primary:focus{
  color: black !important;
  border-color: white !important;
  box-shadow: 0 0 0 .1rem rgba(255,255,255,1) !important;
}

/*Botones con fondo blanco sin borde*/
.btn-primary.white,.btn-primary.white:hover, .btn-primary.white:active, .btn-primary.white:visited {
  background-color:white !important;
  color: black !important;
}
.btn-primary.white:focus{
  color: black !important;
  background-color: white!important;
  border-color: black !important;
  box-shadow: 0 0 0 .1rem rgba(0,0,0,1) !important;
}

/*Botones con fondo blanco con borde*/
.btn-primary.white.border,.btn-primary.white.border:hover, .btn-primary.white.border:active, .btn-primary.white.border:visited {
  background-color:white !important;
  color: black !important;
  border-color: black !important;
}
.btn-primary.white.border:focus{
  color: black !important;
  background-color: white!important;
  border-color: black !important;
  box-shadow: 0 0 0 .1rem rgba(0,0,0,1) !important;
}

/*Botones con fondo negro*/
.btn-primary.black,.btn-primary.black:hover, .btn-primary.black:active, .btn-primary.black:visited {
  background-color:black !important;
}

.btn-primary.black:focus{
  color: black !important;
  background-color: white!important;
  border-color: black !important;
  box-shadow: 0 0 0 .1rem rgba(0,0,0,1) !important;
}

/*Cards*/

.card{
  background-color: #101010!important;
  color:White!important;
}

.card:hover{
  color: yellow !important;
  text-align: center;
}

.card.white{
  background-color: white!important;
  border-color:black;
  color:black!important;
}

.fa-star{
  color: black;
}

.fa.yellow{
  color:#FFD300 !important;
}
#primero {
  font-size: 10vw;
  font-weight: 300;
}

#segundo {
  font-size: 5vw;
}

#tercero {
  font-size: 14vw;
  font-weight: 700;
}

#parrafos {
  color: #73AFC5;
}

#form_log {
  text-align: center;
}

#form {
  margin-top: 200px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  padding: 10px;
}

#player-col {
  top: 50px;
}

h1{
  color:white;
}

.text-left.form {
  max-width: 500px;
}
