#all {
  text-align: center;
  font-family: 'Roboto';
  padding-top: 225px;
}

body {
  /*background: url(../../assets/img/piano.jpg) no-repeat fixed center;*/
  background-size: cover;
  font-family: 'Roboto';
}

.btn.btn-primary {
  color: black;
  margin: 10px;
  border-style: none;
  border-radius: 15px;
  background-color: #FFD300;
  border-color: transparent;
}

.button:focus{
  color: #FFD300;
  background-color: #FFD300;
  border-color: #FFD300;
  box-shadow: 0 0 0 .2rem rgba(255,211,0,0.5);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255,211,0,0.5);
}

.btn-primary.focus, .btn-primary.btn-block:focus {
  color: #FFD300;
  background-color: #FFD300;
  border-color: #FFD300;
  box-shadow: 0 0 0 .2rem rgba(255,211,0,0.5);
}
.btn-group {
  display: block;
}
.btn-primary:hover {background-color: #FFD300}

.btn-primary.btn-block:active {
  background-color: #FFD300;
  box-shadow: 0 5px #FFD300;
  transform: translateY(4px);
}
#primero {
  font-size: 10vw;
  font-weight: 300;
}

#segundo {
  font-size: 5vw;
}

#tercero {
  font-size: 14vw;
  font-weight: 700;
}

#parrafos {
  color: #73AFC5;
}

#form_log {
  text-align: center;
}

#form {
  margin-top: 200px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  padding: 10px;
}

#player-col {
  top: 50px;
}

.btn.btn-primary.submit-button {
  margin-left: 56%;
  margin-top: 20px;
  min-width: 44%;
  color: white;
}

.text-left.form {
  max-width: 500px;
}
