#subscribed_podc_cover {
  width: 175px;
  float: left;
}

#unsub_btn {
  color: white;
  background-color: black;
  width: 130px;

}

#div_subs_text {
  margin: 0 auto;
}

#subscribed_podc_cover {
  float: left;
  max-width: 258px;
  border-style: solid;
  border-color: #101010;
  border-width: 4px;
}

#popular_cover {
  width: 70px;
  float: left;
  margin-right: 10px;
}

#subscribed-podcast-card {
  border-color: #101010;
  border: 4px;
  border-width: 2px;
  border-radius: 10px;
  min-width: 550px;
  border-style: solid;
}

#popular_podcast_card {
  border-width: 2px;
  border-color: #101010;
  border-radius: 50px;
}

#popular_cover {
  border-color: #101010;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
}

#subscribed-podcast-card {
  border-color: #101010;
}

#links_PodcastsSeries {
  color: #101010;
}

#links_PodcastsSeries:hover{
  color: #FFD300;
}

